<%-include('menu')%>

<div class="container">
  <h1>Add user</h1>
</div>

<div class="container">
  <h1>Add User</h1>
  <form action="/useraction" method="Post">
    <input type="text" placeholder="Name" name="Name" /><br />
    <input type="text" placeholder="Email" name="Email" /><br />
    <input type="text" placeholder="Mobile No." name="mobile" /><br />
    <button>Add</button>
  </form>
</div>
